In [2]:
from IPython.display import display
from ml_tools import SimpleAggregator, \
    Hour, \
    SingleAggregator, \
    custom_generator, \
    Average, \
    DateTimeInfo, \
    ZipCodeInfo
import pandas as pd
import seaborn as sns

# Transforming features

In [3]:
single_dataset = pd.read_csv("data/ml_tools_single_table_dataset/fraud.csv")
display(single_dataset.sample(10))
## too big to run quickly (also unnecessary for the demo)
single_dataset_trunc = single_dataset.sample(200)

,id,card_id,store_id,datetime,amount,currency,customer_present,provider,lat,lng,region,country,fraud
90589,90589,5674,5674,2019-06-22 13:23:45,79753,NAD,True,VISA 16 digit,33.72255,-116.37697,Palm Desert,US,False
79448,79448,23622,2363,2019-04-05 01:41:39,71276,MVR,True,Mastercard,36.64852,51.49621,Nowshahr,IR,False
62846,62846,32936,3163,2019-04-13 18:49:26,86045,RSD,False,American Express,25.92127,86.79271,Madhipura,IN,False
46134,46134,29944,5392,2019-06-12 16:50:19,5596,CDF,False,JCB 16 digit,32.65246,51.67462,Isfahan,IR,False
30128,30128,4282,5303,2019-02-21 04:22:44,92695,KYD,True,JCB 16 digit,-7.51611,109.05389,Wangon,ID,True
70789,70789,30732,6116,2019-05-04 05:01:40,64408,TVD,False,VISA 19 digit,53.95278,32.86389,Roslavl‚Äô,RU,False
9267,9267,18666,9141,2019-07-27 02:54:12,48249,DZD,False,American Express,-14.66463,-52.35558,Nova Xavantina,BR,False
84149,84149,10169,8088,2019-06-06 17:29:53,28582,NAD,False,Maestro,23.07492,88.28637,Pandua,IN,False
70742,70742,24193,8888,2019-01-29 02:47:12,31538,KMF,True,Diners Club / Carte Blanche,35.00000,136.51667,Komono,JP,False
26496,26496,22400,296,2019-01-23 03:53:33,68006,BGN,True,Mastercard,2.41669,30.98551,Paidha,UG,False

In [4]:
single_dataset_hours = Hour.generate_feature(single_dataset_trunc.copy())
display(single_dataset_hours.sample(10))

/Users/john/Projects/Programming/ml_tools/ml_tools/feature_generator.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.iloc[:, idx][index] = time.hour

,id,card_id,store_id,datetime,amount,currency,customer_present,provider,lat,lng,region,country,fraud
9373,9373,395,7915,17,78110,JEP,False,VISA 16 digit,35.25064,-91.73625,Searcy,US,False
97769,97769,9002,9002,14,60979,KHR,False,VISA 16 digit,41.67640,-91.58045,Coralville,US,False
69105,69105,8928,8928,17,66699,STD,False,VISA 19 digit,22.49396,-105.36369,Acaponeta,MX,False
4387,4387,674,9052,2,21220,VEF,False,JCB 16 digit,42.35843,-71.05977,Boston,US,False
16574,16574,11842,4145,4,22349,OMR,False,Diners Club / Carte Blanche,33.95015,-118.03917,South Whittier,US,True
79305,79305,11857,2635,14,98879,HUF,True,Discover,14.62072,74.83554,Sirsi,IN,True
74556,74556,1657,1657,17,20633,PYG,True,Maestro,36.00000,139.55722,Okegawa,JP,False
12756,12756,13154,8081,2,98387,LRD,False,American Express,53.83333,-2.98333,Poulton-le-Fylde,GB,True
43158,43158,8148,3043,3,91782,BIF,True,Mastercard,34.75856,136.13108,Ueno-ebisumachi,JP,True
9421,9421,28001,6978,20,2599,LSL,False,VISA 16 digit,36.76639,3.47717,Boumerdas,DZ,False

# Splitting data
- Splitting timestamps into multiple features

In [5]:
single_dataset_split_time = DateTimeInfo.generate_feature(single_dataset_trunc.copy(), column = 'datetime')
display(single_dataset_split_time.sample(10))

,id,card_id,store_id,amount,currency,customer_present,provider,lat,lng,region,country,fraud,datetime_year,datetime_month,datetime_day,datetime_weekday,datetime_time
81108,81108,4821,4821,86661,XPF,False,Mastercard,11.93381,79.82979,Puducherry,IN,False,2019,2,7,3,02:11:39
48509,48509,32490,8990,40346,RWF,True,JCB 16 digit,36.92574,14.72443,Ragusa,IT,False,2019,7,6,5,12:04:21
68611,68611,7515,7515,56837,XCD,False,JCB 16 digit,-31.44880,-60.93173,Esperanza,AR,False,2019,5,9,3,21:17:37
49914,49914,18940,2556,83280,ZMW,False,Discover,-17.83333,48.41667,Ambatondrazaka,MG,False,2019,2,26,1,03:54:09
14914,14914,28536,6885,16645,LAK,False,JCB 16 digit,31.28092,74.85849,Patti,IN,True,2019,7,2,1,15:56:58
19022,19022,33116,3394,93654,BZD,True,VISA 13 digit,35.48199,137.02166,Minokamo,JP,True,2019,5,17,4,06:48:35
32505,32505,17939,7386,99958,SBD,False,JCB 15 digit,55.25000,24.75000,Ukmerge,LT,True,2019,5,15,2,21:09:00
65691,65691,12659,7457,49094,UYU,False,Mastercard,38.70734,-77.02303,Fort Washington,US,False,2019,2,25,0,02:59:11
43158,43158,8148,3043,91782,BIF,True,Mastercard,34.75856,136.13108,Ueno-ebisumachi,JP,True,2019,4,1,0,03:19:19
16985,16985,12108,968,86210,SZL,False,Discover,53.59337,9.47629,Stade,DE,False,2019,6,16,6,05:23:17

- getting more info from zip codes

In [6]:
customers = pd.read_csv("data/ml_tools_multiiple_tables_dataset/customers.csv")
display(customers)

customers = ZipCodeInfo.generate_feature(customers, column='zip_code')
display(customers)

   customer_id  zip_code            join_date date_of_birth
0            1     60091  2011-04-17 10:48:33    1994-07-18
1            2     13244  2012-04-15 23:31:04    1986-08-18
2            3     13244  2011-08-13 15:42:34    2003-11-21
3            4     60091  2011-04-08 20:08:14    2006-08-15
4            5     60091  2010-07-17 05:27:50    1984-07-28

,customer_id,zip_code,join_date,date_of_birth,state,county,city,lat,lng,timezone
0,1,60091,2011-04-17 10:48:33,1994-07-18,IL,Cook County,Wilmette,42.08,-87.73,Central
1,2,13244,2012-04-15 23:31:04,1986-08-18,NY,Onondaga County,Syracuse,None,None,None
2,3,13244,2011-08-13 15:42:34,2003-11-21,NY,Onondaga County,Syracuse,None,None,None
3,4,60091,2011-04-08 20:08:14,2006-08-15,IL,Cook County,Wilmette,42.08,-87.73,Central
4,5,60091,2010-07-17 05:27:50,1984-07-28,IL,Cook County,Wilmette,42.08,-87.73,Central

# Aggregating data
- Across multiple dataframes

In [7]:
transactions = pd.read_csv("data/ml_tools_multiiple_tables_dataset/transactions.csv")
products = pd.read_csv("data/ml_tools_multiiple_tables_dataset/products.csv")

tp_agg = SimpleAggregator(transactions,
                          products,
                          label1='transactions',
                          label2='products')
tp_agg.new_relationship('product_id', 'product_id')
print(tp_agg.relationships)

agg = tp_agg.aggregate()
display(agg)

 RELATIONSHIPS:
transactions.product_id -> products.product_id

   product_id  count
0           4    106
1           5    104
2           1    102
3           3     96
4           2     92

# Aggregating data
- In one dataframe

In [8]:
single_agg = SingleAggregator(single_dataset, 'fraud', 'currency')
currency_agg = single_agg.aggregate()

display(currency_agg)

    currency  count
0        TJS    677
1        CAD    667
2        VUV    667
3        NAD    666
4        CZK    664
..       ...    ...
159      SLL    557
160      LTL    556
161      PAB    542
162      AUD    541
163      KYD    540

[164 rows x 2 columns]

# Custom feature generators

In [9]:
def square_column(data, column):
    data[column+'_squared'] = data[column] * data[column]
    return data

cust_generator = custom_generator(square_column,
                                  name='squared',
                                  feature_type='polynomial')

new_data = cust_generator.generate_feature(single_dataset_trunc.copy(), 'amount')

print("name: ", cust_generator.name)
print("feature_type: ", cust_generator.feature_type)
display(new_data)

name:  squared
feature_type:  polynomial

,id,card_id,store_id,datetime,amount,currency,customer_present,provider,lat,lng,region,country,fraud,amount_squared
63356,63356,7468,6356,2019-01-23 05:03:11,62015,BWP,True,Mastercard,33.44250,129.96972,Karatsu,JP,False,3845860225
4387,4387,674,9052,2019-02-11 02:06:15,21220,VEF,False,JCB 16 digit,42.35843,-71.05977,Boston,US,False,450288400
4122,4122,16887,808,2019-04-20 07:34:39,56973,UZS,False,Mastercard,50.76306,-1.29772,Cowes,GB,True,3245922729
67371,67371,16354,6214,2019-02-11 01:11:23,16913,BRL,True,Diners Club / Carte Blanche,52.86147,9.59260,Walsrode,DE,False,286049569
75690,75690,16361,2494,2019-08-03 01:50:12,99633,SYP,True,American Express,27.85000,112.90000,Xiangtan,CN,True,9926734689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85692,85692,15137,9840,2019-06-14 17:16:57,60884,SLL,False,Maestro,20.74122,-100.44843,Santa Rosa Jauregui,MX,False,3706861456
57991,57991,12619,730,2019-04-22 11:22:33,13149,MZN,True,Discover,-7.57897,112.23109,Diwek,ID,False,172896201
69486,69486,7453,8550,2019-05-21 09:51:55,49380,NIO,False,Mastercard,22.47110,88.14530,Pujali,IN,False,2438384400
55474,55474,17146,5020,2019-06-24 01:47:34,91877,CAD,False,JCB 16 digit,46.32374,-120.00865,Sunnyside,US,True,8441383129
57960,57960,8738,1913,2019-03-24 01:57:59,67562,AZN,False,Maestro,50.82709,6.97470,Wesseling,DE,False,4564623844

# Average aggregator

In [10]:
iris = sns.load_dataset('iris')
key = 'species'

avg_agg = Average(iris, key, label='iris')

averages = avg_agg.aggregate()
display(averages)

,species,count,sepal_length_avg,sepal_width_avg,petal_length_avg,petal_width_avg
0,versicolor,50,5.936,2.770,4.260,1.326
1,setosa,50,5.006,3.428,1.462,0.246
2,virginica,50,6.588,2.974,5.552,2.026